.tokens {
  user-select: none;
}

.tokens-svg {
  background-color: silver;
}

.delete-area-flex {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  text-align: left;
}

.delete-area-border {
  padding: 32px;
  background-color: white;
  border: 1px black solid;
}