server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name magoria;
	
	location /api/ {
	    proxy_pass http://localhost:5000/api/;
	}
	
	location /hubs/ {
	    proxy_pass http://localhost:5000/hubs/;
	    proxy_http_version 1.1;
	    proxy_set_header Upgrade $http_upgrade;
	    proxy_set_header Connection "Upgrade";
	}
	
	location /web/ {
	    proxy_pass http://localhost:8080/web/;
	}
}
